<div class="con"> 
    <div class="me node"> <%-father.name%> </div>
    <div class="sons"> 
        <% sons.forEach(son => {%>
            <div class="son node"><%= son %></div>
        <%}) %> 
    </div>    
</div>


