<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/treant-js-master/Treant.css">
    <link rel="stylesheet" href="/treant-js-master/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/styles/style.css">

    <!-- scripts -->
    <script src="/treant-js-master/Treant.js"></script>
    <script src="/treant-js-master/vendor/raphael.js"></script>
    <script src="/treant-js-master/vendor/jquery.min.js"></script>
    <script src="/treant-js-master/vendor/jquery.easing.js"></script>
    <script src="/treant-js-master/vendor/jquery.mousewheel.js"></script>
    <script src="/treant-js-master/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/js/admin.js" defer></script>
</head>
<body>
    <!-- <div class="con">
        
        <form action="" method="POST">
            <div>
                <label for="name">Name</label>
            <input type="text" name="name" placeholder="Name">
            </div>
            <div>
                <label for="fahter">Father</label>
                <input type="text" name="father" placeholder="father Name">
            </div>
            <div class="search">
                <label for="mother">Mother</label>
               <div class="search">
                <input type="text" name="mother" placeholder="Mother Name">
                <div class="search-sugg"></div>
               </div>
            </div>
        </form>
    </div> -->
    <div class="root hide"> <%= data %> </div>
    <div class="addRoot"><a href="/add/root">Add Father</a></div>
    <div id="con"></div>
</body>
</html>