<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Tree</title>
    <!-- styles -->
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/treant-js-master/Treant.css">
    <link rel="stylesheet" href="/treant-js-master/vendor/perfect-scrollbar/perfect-scrollbar.css">

    <!-- scripts -->
    <script src="/treant-js-master/Treant.js"></script>
    <script src="/treant-js-master/vendor/raphael.js"></script>
    <script src="/treant-js-master/vendor/jquery.min.js"></script>
    <script src="/treant-js-master/vendor/jquery.easing.js"></script>
    <script src="/treant-js-master/vendor/jquery.mousewheel.js"></script>
    <script src="/treant-js-master/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/js/color.js" defer></script>

</head>
<body>

    <p id="data" class="hide"><%-data%></p>
    <p id="objData" class="hide"><%- dataObject %> </p>

    <div class="details hide">
        <span class="close-details">X</span>
        <div class="dataElem"></div>
    </div>
    <div id="family-tree"></div>       

</body>
</html>